body {
  margin: 0;
}
p {
  margin-bottom: 0 !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0 !important;
}
ul > li:not(:last-child) {
  margin-bottom: 5px;
}
@font-face {
  font-family: Proximanova-Regular;
  src: url(../assets/fonts/Proximanova-Regular.ttf);
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 88%; 
  }

  .e-section .section-title {
    text-align: center !important;
  } 

  .experience-info {
    justify-content: center;
  }
}

