body {
  margin: 0;
}
p {
  margin-bottom: 0 !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
h1 {
  text-align: center;
  margin-bottom: 25px !important;
}
ul {
  list-style: none;
  padding: 0 !important;
}
ul > li:not(:last-child) {
  margin-bottom: 5px;
}