footer {
  height: 5.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: #f5f9f3;
}
footer .footer-text {
  font-size: 1.5rem;
  color: #a14040;
}
