header {
  background-color: #f6f6f6;
  width: 100%;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
}
footer {
  background-color: #494444;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  padding-top: 10px;
}
footer a {
  margin-right: 15px;
}
.main-content {
  padding-top: 50px;
}
.flex {
  display: flex;
}
.flex-container1 {
  display: flex;
  justify-content: center;
}
.flex-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f12 {
  font-size: 12px;
}
.skills-section img, .about-section img {
  display: block;
  margin: auto;
}
.skills-section img {
  margin-bottom: 20px;
}
.skills-section {
  padding-bottom: 150px;
}