html {
  font-size: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans";
}
p {
  margin: 0 !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0 !important;
}
.profile-section {
  padding: 130px 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7fd;
  /* background-image: linear-gradient(#efdae7, #fff); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-img-wrapper {
  width: 320px;
  height: 242px;
  position: relative;
  border: 26px solid #32a4e7;
  margin-top: 95px;
}

.box1 {
  width: 105px;
  height: 101px;
  border: 5px solid #f77a90;
  position: absolute;
  right: -69px;
  top: 15px;
}
.box2 {
  width: 105px;
  height: 101px;
  border: 5px solid skyblue;
  position: absolute;
  left: -65px;
  bottom: 51px;
}
.profile-img {
  position: absolute;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  bottom: 0;
}

.profile-content-right {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  margin-left: 147px;
}

.profile-title {
  font-family: "Noto Sans";
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 20px !important;
}
.profile-title-name {
  color: #f179a7;
}
.profile-designation {
  font-size: 26px;
}
.role {
  color: #44a6d3;
}
.social-media-profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.social-media-icon {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background: #44a6d3;
  font-size: 20px;
}

.lets-talk-btn {
  width: 88px;
  height: 35px;
  background-color: #f179a7;
  border: 1px solid #f179a7;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  outline: none;
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  margin: 30px 0 20px 0;
}
.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.bubble1 {
  background-color: red;
  position: absolute;
  top: 30px;
  left: 50px;
}
.bubble2 {
  background-color: #b4b3d8;
  position: absolute;
  top: 100px;
  left: 277px;
}
.bubble3 {
  background-color: #ffb70f80;
  position: absolute;
  top: 149px;
  left: 126px;
}
.bubble4 {
  background-color: pink;
  position: absolute;
  top: 300px;
  left: 224px;
}
.bubble5 {
  background-color: blue;
  position: absolute;
  top: 250px;
  left: 90px;
}
